:root {
    --col-bg: #ffffff;
    --col-bg-fg: #222222;
    --col-accent1:  palevioletred;
    --col-accent1-fg: #000000;
    --col-accent2:  plum;
    --col-accent2-fg: #000000;
    --col-accent3:  mediumslateblue;
    --col-accent3-fg: #ffffff;
    --col-action: firebrick;
    --col-action-fg: #ffffff;
    --col-error: tomato;
    --col-error-fg: #000000;
    --font-body: serif;
    --font-heading: sans-serif;
    --animations: 0.3s;
  }
  
  body {
    background-color: var(--col-bg);
    color: var(--col-bg-fg);
    font-family: var(--font-body);
  }
  hr{
    margin: 0em;
  
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    line-height: 1.25;
    margin: 0.25em 0;
  }
  
  h1 {
    font-size: 1.25em;
  }
  
  .branding {
    background-color: var(--col-accent2);
    color: var(--col-accent2-fg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  
  .others {
    background-color: var(--col-accent1);
    color: var(--col-accent1-fg);
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 2s;
    z-index: 3;
    width: 100%; 
    height: 100%;
    padding-top: 2.1875em;
  }
    .others .panel {
      background-color: var(--col-bg-fg);
      overflow-y: scroll;
      padding-bottom: 0.1em;
     
    }
  
  .others.open {
    left: 0;
  }
  
  .toggle-others {
    background-color: var(--col-accent3);
    color: var(--col-accent3-fg);
    position: fixed;
    top: 0.5em;
    left : 1em;
    line-height: 1.25;
    z-index: 4;
    padding: 0;
    border: none;
    padding: 0 0.5em;
  }
  
  
  .conversation {
    padding: 0;
    position: relative;
    padding-top: 3em;
  }

  .options{   
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .options li{
    padding: 0.5em 1em;
  }
  .options a{
    color: white;
    text-decoration: none;
    
  }
  .options a:hover{
    color: cornflowerblue;
  }
  .options span{
    font-size: 2.5em;
    vertical-align: text-top;
  }
  .profile img{
    width: 100%;
    height: 45vh;
  }
  .profile p{
    position: absolute;
    left: 2em;
    bottom: 3em;
    color: white;
    font-size: 1.5em;

  }
  
  
  @media screen and (min-width: 40em) {
    .others {
      display: block;
      left: 0;
      width: 5em;
      z-index: 1;
      opacity: 1;
      transform: translateX(-5em);
      transition: transform var(--animations);
    }
    .others.open {
      width: 5em;
      transform: translateX(0em);
    }
    .conversation {
      transition: margin-left var(--animations);
    }
    .others.open ~ .conversation {
      margin-left: 5em;
      
    }
  
    .toggle-others {
      position: absolute;
      top: 2.2em;
      left: auto;
      right: -2.8em;
      height: 1.5em;
      padding: 0.25em;
      text-align: center;
    }
    .options{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    .options li{
      padding-bottom: 0.25em;
      border-bottom: 1px solid white;
    }
    .profile img{
      height: 65vh;
    }
  }
  
  
  @media screen and (min-width: 60em) {  
    
    
  }